{% extends 'base.html' %}
{% load static %}
{% block content %}

</div>
    <nav class="menu">
        <ul>
            <li><a href="#experience">Doświadczenie</a></li>
            <li><a href="#projects">Moje projekty</a></li>
        </ul>
    </nav>
    
    <div class="logo">
        <div class="img_me rounded float-left img-fluid"><img src="{% static 'images/me.png' %}" alt=""></div>
        <div class="contact">
            <h2>Wojciech Mankowski</h2>
            <p class="email"><i class="bi bi-envelope-fill"></i><a href="mailto:wojtekm510@gmail.com">
                    wojtekm510@gmail.com</a></p>
            <p class="github">
                <i class="bi bi-github"></i>
                <a href="https://github.com/WojciechMankowski" target="_blank" rel="noopener noreferrer">GitHub</a>
            </p>
            <p class="linkedin"><i class="bi bi-linkedin"></i>
                <a href="https://www.linkedin.com/in/w-mankowski/" target="_blank"
                    rel="noopener noreferrer">Lindeklin</a>
            </p>

        </div>
      
        
    </div>
    <!-- <div class="waves "></div> -->
    <main class="container_main">
        <article class="main">
            <div class="experience" id="experience">
                <h2>Doświadczenie zawodowe</h2>
                <p>
                    <span class="copany_name">EXPERT Sp. z o.o. (04.2022 – )</span>
                <ul>
                    <li class="todo">pisanie stron internetowych w Django i Wordpress</li>
                    <li class="todo">wdrażanie stron internetowych na server</li>
                    <li class="todo">przeprowadzanie wywiadów z klientami i zbieranie wymagań od klientów</li>
                    <span class="tools_used"><span>Narzędzia: </span> Python, Django, sql, Wordpress</span>
                </ul>
                </p>
                <p>
                    <span class="copany_name">Usługi Programistyczne Bartosz Myszka (04.2022-07.2022)</span>
                <ul>
                    <li class="todo">tworzenie stron internetowych,</li>
                    <li class="todo">manulne testowanie opragramowania</li>
                    <span class="tools_used">
                        <span>Narzędzia: </span> HTML, CSS, JavaScript</span>
                </ul>
                </p>
            </div>
            <div id="projects">
                <h2>Moje projekty:</h2>
                <div class="projects">
                    <div class="langues">
                        {% for l in langues %}
                        <button class="btn btn-info" id="langue">{{l}}</button>
                        {% endfor %}
                    </div>
                    {% for project in projects%}
                    <div class="project">
                        <div class="languses">
                            {%for language in project.programming_languages%}
                            <span>{{language.name}}</span>
                            {%endfor%}
                        </div>
                        <div class="title">
                            <h3>{{project.name}}</h3>
                        </div>
                        <p>{{project.project_description}}</p>
                    </div>

                    {%endfor%}
                </div>
            </div>
        </article>
        <article class="left">
            <div class="profil">

                <div class="me">
                    <h2>Profil zawodowy</h2>
                    <p>
                        Jestem osobą wytrwałą i niebojącą się podejmowania wyzwań. Charakteryzuję się analitycznym
                        umysłem oraz dostrzegania małych detali co powoduje szybsze znajdywania błędów. Dzięki
                        sumienności, systematyczności wykonuję zadania jak najbardziej efektywnej za pomocą
                        dostępnych
                        zasobów. Jestem otwarty na nowe doświadczenia oraz na poznawanie nowych rzeczy. Posiadam
                        orzeczenie o stopniu niepełnosprawności
                    </p>
                </div>
                <div class="skills">
                    <h2>Umiejętności</h2>
                    <ul>
                        {%for skill in skills %}
                        <li class="skill">{{ skill.name }}</li>
                        {% endfor %}


                    </ul>
                </div>
                <div class="tools">
                    <h2>Narzędzia</h2>
                    <ul>
                        <li class="tool">Python</li>
                        <li class="tool">Python Fremory: Django, Flask</li>
                        <li class="tool">JavaScript i React
                        </li>
                        <li class="tool">HTML5;</li>
                        <li class="tool">CSS</li>
                        <li class="tool">SQL</li>
                        <li class="tool">Git</li>
                        <li class="tool">Figma</li>
                        <li class="tool">Scrum</li>
                        <li class="tool">Jira and Jamboard</li>
                        <li class="tool">Dev tool</li>
                    </ul>
                </div>
                <div class="certificates">
                    <h2>Certefikaty</h2>
                    <ul>
                        <li>Microsoft Office Specialist: Microsoft Word Expert 2019 (26.06.2022)</li>
                        <li>Microsoft Office Specialist: Microsoft Excel Expert 2019 (23.07.2022)</li>
                    </ul>
                </div>
            </div>
        </article>





        <div></div>
</div>
{% endblock %}