:root {
  --background-color: rgba(19, 30, 242, 0.7);
  --background: rgba(60, 69, 242, 1);
  --border: rgba(1, 55, 89, 1);
  --color: rgba(191, 112, 43, 1);
  --cursor: rgba(191, 97, 43, 1);
  --gradient: linear-gradient(90deg, #5b5145, #c26f4d, #d7c5c1);
  --color_text: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: auto 10px;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 80%;
  height: 30px;
  line-height: 1.6;
  color: #333;
}
.logo h2 {
  text-align: center;
}
.logo h2 a{
    color: var(--background-color);
    text-decoration: none;
}
.menu {
  margin: 25px auto;
  padding-top: 10px;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 50px;
}
.menu ul li {
  list-style: none;
  margin-right: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: var(--color);
  font-size: 1.5rem;
}

#content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 30px;
  margin-bottom: 20px;
}

#sidebar {
  width: 100%;
  padding: 10px;
  background: var(--background);
  padding: 6px 12px;
  border-radius: 12px;
}
#sidebar ul {
  list-style: none;
}
#sidebar ul>li>a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
#sidebar h3{
    padding: 12px 0;
    color: #fff;
}
p.date {
  color: var(--border);
  font-family: georgia, serif;
  font-size: 12px;
  font-style: italic;
}
.teaser {
  padding: 6px 12px;
  width: 25%;
}
.teaser a {
  color: var(--cursor);
  text-decoration: none;
  cursor: pointer;
}
.entry {
  width: 100%;
}
.commanders {
  margin-top: 10px;
}
/* pagination */
.pagination {
  margin: 40px 0;
  font-weight: bold;
}

/* forms */
label {
  float: left;
  clear: both;
  color: #333;
  margin-bottom: 4px;
}
input,
textarea {
  clear: both;
  float: left;
  margin: 0 0 10px;
  background: #ededed;
  border: 0;
  padding: 6px 10px;
  font-size: 12px;
}
input[type="submit"] {
  font-weight: bold;
  background: #00abff;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}

/* comments */
.comment {
  padding: 10px;
}
.comment:nth-child(even) {
  background: #efefef;
}
.comment .info {
  font-weight: bold;
  font-size: 12px;
  color: #666;
}
